body {
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 10px;
  color: #1F4D83;
}

h3 {
  margin-left: 10px;
  color: #1F4D83;
}



/* HEADER CSS */
/* HEADER CSS */
/* HEADER CSS */

header {
  background: linear-gradient(to bottom, rgba(0, 102, 255, 1) 0%, rgba(36, 0, 255, 0.51) 100%);
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding-top: 10px;
}

/* FOOTER CSS */
/* FOOTER CSS */
/* FOOTER CSS */

footer {
  background: linear-gradient(to bottom, rgba(0, 102, 255, 0.5) 0%, rgba(36, 0, 255, 0.51) 100%);
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-top: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* GREEN BUTTON CSS */
/* GREEN BUTTON CSS */
/* GREEN BUTTON CSS */

.green-button-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.green-button-div .green-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #1F4D83;
  background-color: #DCEAFF;
  padding: 10px;
  border: none;
  border-radius: 10px;
  max-width: 100%;
  height: 10vh;
}

.green-button-div .green-button:hover {
  border: 3px solid lightblue;
  padding: 7px;
}

/* RED BUTTON CSS */
/* RED BUTTON CSS */
/* RED BUTTON CSS */

.red-button-div {
  display: grid;
  padding: 20px;
  margin-right: 20px;
}

.red-button-div .red-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #1F4D83;
  background-color: #DCEAFF;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
}

.red-button-div .red-button:hover {
  border: 3px solid hsl(0, 100%, 50%, 0.2);
  padding: 7px;
}

/* QUICK RESOURCE BUTTON CSS */
/* QUICK RESOURCE BUTTON CSS */
/* QUICK RESOURCE BUTTON CSS */

.quick-resources {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}

.quick-resources .resource-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #1F4D83;
  background-color: hsl(241, 100%, 50%, 0.1);
  border: none;
  border-radius: 20px 0 30px 0;
  height: 10vh;
  padding: 10px;
  box-sizing: border-box;
}

.quick-resources .resource-button:hover {
  border: 3px solid hsl(241, 100%, 50%, 0.2);
  padding: 7px;
}

/* PDF VIEWER CSS */
/* PDF VIEWER CSS */
/* PDF VIEWER CSS */

.pdf__container__document {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adjust the size of the pages */
.react-pdf__Page {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.pdf-container {
  background-color: #DCEAFF;
 }

 .pdf-toolbar {
   position: fixed;
   right: 0;
   margin: 10px;
   display: flex;
   flex-direction: column;
   z-index: 1000;
  }

 .pdf-toolbar button {
   margin: 10px;
   font-size: 2vw;
   border-radius: 0.5vw;
   border: none;
   width: 3vw;
   height: 3vw;
   background: linear-gradient(to bottom, rgba(0, 102, 255, 1) 0%, rgba(36, 0, 255, 0.51) 100%);
   cursor: pointer;
 }

 .pdf-toolbar button:hover {
   opacity: 0.8;
 }

/* POPUPMENU CSS */
/* POPUPMENU CSS */
/* POPUPMENU CSS */

.popup-menu {
  overflow: auto;
  display: flex;
  background-color: whitesmoke;
  z-index: 2000;
  height: 100vh;
  width: 25vw;
  position: fixed;
  flex-direction: column;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, rgba(0, 102, 255, 1) 0%, rgba(36, 0, 255, 0.51) 100%);
  transition: transform 0.5s ease;
  transform: translateX(-500px);
}
.popup-menu .navbar {
  position: static;
}

.popup-menu .green-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #1F4D83;
  background-color: #DCEAFF;
  border: none;
  border-radius: 10px;
  max-width: 100%;
  margin: 5px;
  padding: 10px;
}

.popup-menu .green-button:hover {
  border: 3px solid lightblue;
  padding: 7px;
}

.popup-menu .red-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #1F4D83;
  background-color: #DCEAFF;
  padding: 10px;
  border: none;
  border-radius: 10px;
  max-width: 100%;
  margin: 5px;
}

.popup-menu .red-button:hover {
  border: 3px solid hsl(0, 100%, 50%, 0.2);
  padding: 7px;
}

.popup-menu .resource-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  cursor: pointer;
  font-size: 12px;
  margin: 5px;
  color: #1F4D83;
  background-color: hsl(241, 100%, 50%, 0.1);
  padding: 10px;
  border: none;
  border-radius: 20px 0 30px 0;
}

.popup-menu .resource-button:hover {
  border: 3px solid hsl(241, 100%, 50%, 0.2);
  padding: 7px;
}

/* NAVBAR CSS */
/* NAVBAR CSS */
/* NAVBAR CSS */

.navbar {
  position: fixed;
  display: flex;
  margin: 10px;
  z-index: 1000;
  gap: 5px;
}

.home {
  background: linear-gradient(to bottom, rgba(0, 102, 255, 1) 0%, rgba(36, 0, 255, 0.51) 100%);
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  border-radius: 0.5vw;
  border: none;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.menu {
  background: linear-gradient(to bottom, rgba(0, 102, 255, 1) 0%, rgba(36, 0, 255, 0.51) 100%);
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  border-radius: 0.5vw;
  border: none;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.home:hover, .menu:hover {
  opacity: 0.8;
}
